.graph-container {
  position: relative;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px auto 0;
}

.btn-container button {
  margin: 5px;
  width: 150px;
  color: rgb(196, 192, 79);
}