.menu-container {
  position:absolute;
  height: 30px;
  background-color: rgba(178, 34, 34, 0.481);
  border: 1px solid firebrick;
  display: flex;
  top: -30px;
  left: 0;
  /* opacity: 0.5; */
}

.first-column, .second-column, .third-column {
  text-align: center;
}