.table-container {
  position: relative;
}
.wrap-col {
  /* display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; */
}

@media (max-width: 992px) {
  .wrap-col {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: nowrap; */
  }
}